vim/bundle/delimitMate.vim/
vim/bundle/gruvbox/
vim/bundle/ultisnips/
vim/bundle/vim-snippets/
vim/bundle/nord-vim/
vim/bundle/oceanic-next/
vim/bundle/vim-code-dark/
vim/bundle/vim-colors-solarized/
