@import "catppuccin_mocha.css";

* {
  font-family: "FiraCode Nerd Font Mono";
  font-size: 16px;
  font-weight: bold;
  min-height: 0;
}

window#waybar {
  background: transparent;
  background-color: @crust;
  color: @overlay0;
  transition-property: background-color;
  transition-duration: 0.1s;
}

button {
  color: rgba(255, 255, 255, 0.3);
  border: none;
  border-radius: 2px;
  margin: 2px 2px;
}

button:hover {
  background: rgba(0, 0, 0, 0.3);
  color: @text;
  border-top: 2px solid @red;
  border-bottom: 2px solid @red;
}

#workspaces button:first-child {
  margin-left: 20px;
}

#workspaces button.active {
  background-color: rgba(0, 0, 0, 0.5);
  color: @text;
  border-top: 2px solid @green;
  border-bottom: 2px solid @green;
}

tooltip {
  background: @surface0;
  opacity: 0.75;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: #11111b;
}

tooltip label {
  color: @text;
}

#clock,
#battery,
#audio,
#network,
#language,
#tray {
  padding: 0px 0px;
  margin: 2px 2px;
  border: 0px;
}

#tray {
  color: @blue;
  border-bottom: 2px solid @blue;
}

#pulseaudio {
  margin: 0px 6px;
}

#audio {
  color: @teal;
  border-bottom: 3px solid @teal;
}

#language {
  color: @green;
  border-bottom: 2px solid @green;
}

#battery {
  color: @peach;
  border-bottom: 2px solid @peach;
}

#clock {
  margin-right: 20px;
  color: @red;
  border-bottom: 2px solid @red;
}

#clock.date {
  color: @red;
  border-bottom: 2px solid @red;
}
